body,
html,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  padding: 0;
  margin: 0;
}

/* Common */

*,
*:before,
*:after {
  box-sizing: border-box;
  flex: 0 1 auto;
  -ms-flex: 0 1 auto;
}
